.section--about {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 50px 50px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header header"
    "title title"
    "img content";

  h2 {
    font-weight: 400;
    margin-top: 10px;
    font-size: 2.4em;
    grid-area: title;
    color: white;
  }

  .about-img-movile {
    display: none;
  }

  .about-img-desktop {
    grid-area: img;
    height: 100%;
    width: 100%;
  }

  .div--text {
    padding: 10% 20px;
    grid-area: content;

    h3 {
      font-size: 2.5em;
      font-weight: 200;
      width: 100%;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 40px;
      color: white;
    }

    p {
      font-weight: 100;
      text-align: justify;
      width: 100%;
      font-size: 1.3rem;
      color: white;
    }
  }

  a {
    i {
      font-size: 3em;
      color: white;
    }
  }
}

@media screen and (max-width: 700px) {
  .section--about {
    overflow-y: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 0.5fr 1fr;
    grid-template-areas:
      "header"
      "title"
      "img"
      "content";

    h2 {
      text-align: center;
      font-size: 2.2em;
    }

    .about-img-movile {
      display: block;
      height: 40vmin;
      grid-area: img;
      pointer-events: none;
      margin: 0 auto;
    }

    .about-img-desktop {
      display: none;
    }

    .div--text {
      height: 80vh;
      padding-top: 10px;

      h3 {
        font-size: 1.8em;
        text-align: center;
         margin-bottom: 20px;
      }
    }

    a {
      display: none;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .about-img-movile {
    animation: about-img-movile-spin infinite 20s linear;
  }
}

@keyframes about-img-movile-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
