.div--detailsProject {
  height: 200vh;
  width: 100%;
  overflow-y: auto;

  .button--return {
    border: none;
    background-color: transparent;

    i {
      font-size: 2rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .div--image {
    background-image: url("../../img/rick.png");
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .div--info {
    height: 150vh;
    width: 100%;
    background-color: yellow;
  }
}
