$pMaxFontWeight: 2rem;
$textColor: #00e3fe;

.section--home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;

  p:first-child {
    color: $textColor;
    font-size: clamp(1rem, 7vw, $pMaxFontWeight);
    font-weight: 100;
  }

  h2 {
    font-size: clamp(1.5rem, 10vw, 4rem);
    font-weight: 400;
    color: white;
  }

  .p--typed {
    font-size: clamp(1.8rem, 7vw, $pMaxFontWeight);
    font-weight: 200;
    color: white;

    span {
      color: $textColor;
    }
  }

  i {
    font-size: 3em;
    color: white;
  }
}
