::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #f9d4ff 14%, #c7ceff 64%);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px 0px #f0f0f0;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  overflow-x: hidden;
  font-family: 'Heebo', sans-serif;
  /*background-color: #fafaff;*/
  background-color: #02021e;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 100%;
  min-width: 100%;
}
