.section__about {
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  color: white;
}

.div_about {
  display: flex;
}

.div__text {
  padding: 0 2em;
}

.div__text h2 {
  margin: 1em 0;
  color: white;
  font-size: 5em;
  text-align: center;
}

.div__text p {
  overflow-wrap: break-word;
  text-align: center;
  font-size: 1.7em;
  font-weight: 100;
}

.div__earth {
  position: relative;
  min-height: 100vh;
}

.h3__earthText {
  position: absolute;
  z-index: 20;
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
  font-size: 3em;
  text-align: center;
}

@media screen and (max-width: 870px) {
  .div_about {
    flex-direction: column;
  }

  .div__text p {
    font-size: 1.2em;
    text-align: justify;
  }
}

@media screen and (max-width: 570px) {
  .div__text h2 {
    font-size: 2.5em;
  }

  .h3__earthText {
    font-size: 2.2em;
  }
}
