:root {
    --footer-color: #02021E;
}


footer {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: var(--footer-color);
  min-height: 180px;
  color: white;
  margin-bottom: -10px;
}

footer h3 {
  color: inherit;
  font-weight: 100;
}

footer button {
  background-color: transparent;
  border: 1px solid white;
  color: inherit;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  font-weight: 100;
  cursor: pointer;
}

footer div {
  display: flex;
  justify-content: center;
  width: 50%;
}

footer div a {
  display: grid;
  place-items: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid white;
}

footer div a i {
  font-size: 1.5em;
  color: white;
}

footer div a:hover {
  background-color: white;
  transition: background-color 1s;
}

footer div a:hover i {
  color: #02021e;
}

footer p {
    margin-top: 10px;
    font-weight: 100;
    font-size: .9em;
}
