:root {
  --footer-color: #02021e;
}

footer {
  position: relative;
  z-index: 40;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  margin-bottom: -10px;
  min-height: 180px;
  color: white;
  background-color: var(--footer-color);
}

footer h3 {
  margin-bottom: 1em;
  color: inherit;
  font-weight: 100;
}

footer .a__contact {
  display: grid;
  place-content: center;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  margin-bottom: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px solid white;
  font-weight: 100;
  cursor: pointer;
}

footer div {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

footer div a {
  display: grid;
  place-items: center;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid white;
}

footer div a i {
  color: white;
  font-size: 1.5em;
}

footer div a:hover {
  background-color: white;
  transition: background-color 1s;
}

footer div a:hover i {
  color: #02021e;
}

footer p {
  margin-top: 10px;
  font-weight: 100;
  font-size: 0.9em;
}

footer button {
  display: grid;
  place-content: center;
  color: white;
  background: transparent;
  border: none;
}

footer button:hover {
  cursor: pointer;
}

@media screen and (max-width: 868px) {
  footer div {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 528px) {
  footer div {
    width: 90%;
    justify-content: space-evenly;
  }

  footer h3,
  p {
    text-align: center;
  }
}

@media (max-width: 278px) {
  footer div a {
    height: 40px;
    width: 40px;
    margin-right: 0;
    border-radius: 50%;
  }

  footer div a i {
    font-size: 1em;
  }
}
