.section_experience {
  min-height: 100vh;
  width: 100vw;
}

.h2_experienceTitle {
  text-align: center;
  color: white;
  font-size: 5em;
  margin: 1em 0;
}

@media (max-width: 868px) {
  .h2_experienceTitle {
    font-size: 6em;
  }
}

@media (max-width: 428px) {
  .h2_experienceTitle {
    font-size: 3em;
  }
}

@media (max-width: 278px) {
  .h2_experienceTitle {
    font-size: 2.5em;
  }
}
