.div-project-card {
  border: 1px solid white;
  max-width: 500px;
  max-height: 500px;
  min-width: 250px;
  min-height: 250px;
  height: 300px;
  width: 400px;
  margin: 10px;
  border-radius: 10px;

  img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  h3 {
    color: white;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
  }

  p {
    color: white;
  }
}

.div-buttons {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1px 25%;

  a {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 0 10px;

    i {
      color: white;
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 500px) {
  .div-project-card {
    border: 1px solid white;
    max-width: none;
    max-height: 400px;
    min-width: 250px;
    width: 100%;
  }

  .div-buttons {
    height: auto;
    padding: 1px 10%;

    a {
      padding: 10px 20px;
      i {
        color: white;
        margin-right: 5px;
      }
    }
  }
}
