.div--titlePage {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;

  span {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    height: 2px;
    width: 100px;
  }

  p {
    text-transform: uppercase;
    color: white;
    font-size: clamp(1rem, 7vw, 1.3rem);
  }
}
