$fontIconSize: 2rem;
$textColor: #00e3fe;

.section--principal {
  height: 100vh;
  width: 100%;
  display: flex;
}

/*
==================
-> Menú  liks <- 
==================
*/

.div-containerMenu {
  width: 80px;
  height: 100vh;
  position: relative;
  z-index: 10;
}

.header-close {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .i--menu {
    color: white;
    margin: 20px auto;
    font-size: 2em;
    cursor: pointer;
  }
}

nav {
  height: 100%;
  width: 100%;
}

.header-open {
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  -webkit-box-shadow: 4px 0px 13px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 0px 13px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0px 13px 8px rgba(0, 0, 0, 0.1);

  // Trienagle close menú
  .i--menu {
    margin: 20px 0;
    margin-right: 40px;
    color: white;
    font-size: 2em;
    transform: rotate(180deg);
    cursor: pointer;
  }
}

.ul--links--close {
  display: none;
}

.ul--links--open {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  padding-top: 10%;
  width: 100%;
  height: 100%;

  li {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    padding-left: 25%;
    width: 100%;

    a {
      display: flex;
      align-items: center;
    }
  }

  .i--iconsNav {
    margin-right: 10px;
  }

  .i--iconsNav,
  .span--nav {
    font-size: 1.5em;
    color: white;
  }


  

  // "footer ul"
  .div--details {
    height: 100%;
    width: 100%;
  }

  #ul--details {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin: 0;
    padding: 0;
    height: 90%;
    width: 100%;

    div {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      height: 90%;

      li {
        margin: 0;
        width: 0;
      }

      a {
        i {
          color: white;
          font-size: 2em;
        }
      }
    }

    hr {
      width: 80%;
    }
    // li "created by"
    li {
      padding: 0;
      display: flex;
      justify-content: center;
      margin-top: 1px;
      color: white;
    }
  }
}

.link-active {
    span {
      position: relative;
    }

    span::after{
        content: "";
        background-color: white;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        right: -15px;
      }
}

/*
==================
-> Menú social icons <- 
==================
*/

.ul--social--close {
  display: none;
}

// icons media
.ul--social--open {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;

  .li--social {
    width: 100%;
    font-size: 3em;
    margin: 20px 0;
    display: flex;
    justify-content: center;

    i {
      display: block;
      color: white;
    }
  }
}

// icons media
.li--social {
  i {
    display: none;
  }
}

// Router components
.div--router {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .section--principal {
    flex-direction: column-reverse;
  }

  .div-containerMenu {
    width: 100vw;
    height: 60px;
    position: absolute;
    background-color: transparent;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }

  // button for toggle menú state
  .i--menu {
    display: none;
  }

  .ul--social--open {
    display: none;
  }

  // Styles for liks page
  // Attention! in this query style are inverted completed!

  .header-close {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;

    .i--menu {
      margin: 20px 0;
      margin-left: 50px;
      color: white;
      font-size: 2em;
      transform: rotate(180deg);
      cursor: pointer;
    }
  }

  // Attention! in this query style are inverted completed!
  .ul--links--close {
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: transparent;

    li {
      display: flex;
      justify-content: center;
      margin: 0 10px;

      span {
        display: none;
      }
    }

    div #ul--details {
      display: none;
    }

    .i--iconsNav,
    .span--nav {
      font-size: 1.5em;
      color: white;
    }

    // Class active
    .link-active {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      bottom: 25px;
      color: $textColor;

      .i--iconsNav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 70px;
        font-size: 2em;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding-top: 20px;
        position: relative;
        top: -11px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        color: white;
      }

      span {
        display: block;
        bottom: 1px;
        color: white;
        font-size: 1em;
      }

      span::after{
        content: "";
        background-color: white;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        position: absolute;
        top: 20px;
        right: 40%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .div-containerMenu {
    width: 100vw;
    height: 60px;
  }
}
