* {
  box-sizing: border-box;
}
html,
body {
  min-width: 250px;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Heebo";
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(150deg, #51a4fa, #8a7dda, #a952a7, #af2367);
  background-size: 800% 800%;
  -webkit-animation: animateBackground 15s ease infinite;
  -moz-animation: animateBackground 15s ease infinite;
  -o-animation: animateBackground 15s ease infinite;
  animation: animateBackground 15s ease infinite;
}

@-webkit-keyframes animateBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes animateBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes animateBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animateBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
